# Android generated
bin
gen
lint.xml

# Eclipse
.project
.classpath
.settings
.checkstyle

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs
local.properties

# Maven
target
release.properties
pom.xml.*

# Ant
ant.properties
proguard.cfg
proguard-project.txt

# Other
.DS_Store
dist/
tmp
local.properties

# Gradle
.gradle
build
writer

